/.internal
/build
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins
/.vscode
.vscode
*.der
*.sublime-project
*.sublime-workspace
compile_commands.json
compile_flags.txt

.clang-format
.clangd